@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/3Dsnake.jpeg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    color: rgb(163, 16, 84);
    position: absolute;
    top: 9px;
    left: 400px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}

#hiscoreBox{
    color: rgb(163, 16, 84);
    position: absolute;
    top: 9px;
    right: 400px;
    font-size: 39px;
    font-weight: bold;
    /*font-family: 'New Tegomin', serif;*/
    font-family: "Lucida Console", "Courier New", monospace;
}

#board{
    /*background: url("../img/snake.png");*/
    background: linear-gradient(rgb(13, 13, 14), rgb(8, 8, 8));
    width: 100vmin;
    height: 92vmin;
    margin-top: 50px;
    
    border: 5px solid rgb(6, 73, 136);
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}

.head{
    background: linear-gradient(rgb(8, 73, 24), rgb(28, 116, 57));
    border: 2px solid rgb(11, 167, 37); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: rgb(103, 235, 98);
    border: .25vmin solid rgb(13, 190, 93);
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(206, 195, 41), rgb(238, 236, 105));
    border: .25vmin solid rgb(136, 8, 8);
    border-radius: 8px;
}